div.container {
    width: 100%;
    border: 1px solid gray;
}
fieldset{
	margin:auto;
}
h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: left;
    padding-left: 30px;
}

h2 {
    font-family: arial;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 1px;
    padding: 1em;
    background-color: #B1A296;
    height:100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

p {
    background-color: #96B4CA;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}
.inline {
    float: left;
}
.clear-all {
    clear: both;
}

ul {
    border:3px solid #555;
}

li {
    text-align: center;
    border-bottom: 2px solid #555;
}

li:last-child {
    border-bottom: none;
}

form {
    padding-left: 30px
}