/* 
    Created on : 25-Nov-2017, 14:30:55
    Author     : Hal
*/
body {
    background-color: lightsteelblue;
    font-family: Calibri;
    margin: 0;
}

input, select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin solid lightslategray;
    background-color: #eaf1f9;
    font-family: Calibri;
    font-size: medium;
    padding: 0.5ex;
    width: 100%;
}
input:focus, select:focus {
    border: thin solid lightslategray;
    background-color: #b9d6f7;
    font-style: italic;
    outline: none;
}
input:hover, select:hover {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: #b9d6f7;
}
h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "Bookman Old Style";
    font-weight: normal;
    letter-spacing: .4ex;
    border-bottom: thin solid lightslategray;
}
h1 {
    font-family: "Brush Script MT", cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: left;
    padding-left: 30px;
}
.button {
    font-family: Calibri;
    font-size: medium;
    padding: 1em;
    width: 100%;
    background-color: #eaf1f9;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border: thin solid #eaf1f9;
}
.button:hover {
    background-color: #b9d6f7;
    border: thin solid #b9d6f7;
}

.form-spacing {
    margin-bottom: 2ex;
}
.form-spacing-small {
    margin-bottom: 1ex;
}

.message-confirm {
    background-color: palegreen !important;
}
.message-error {
    background-color: lightpink !important;
}

.header {
    width: 100%;
}

ul.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #eaf1f9;
}
ul.nav li {
    list-style-type: none;
    float: left;
}
ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1ex;
    text-decoration: none;
}
ul.nav li a:hover {
    background-color: #b9d6f7;
}

@media screen and (min-width: 810px) {
    h1 {
        font-size: 70px;
    }
    .main-container {
        clear: both;
        display: table;
        width: 100%;
    }

    .col-minwidth {
        display: table-cell;
        width: auto;
    }
    .col-half {
        display: table-cell;
        width: 50%;
        padding-left: 2em;
    }
    .flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flexItem {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        width: 200px;
        margin: 0.5em;
        padding: 1em;
    }
}

@media screen and (max-width: 809px) {
    .main-container {
        clear: both;
        display: block;
        width: 100%;
        margin-left: 1ex;
        margin-right: 1ex;
    }

    .col-minwidth {
        display: block;
    }
    .col-half {
        display: block;
    }
    .flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flexItem {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        width: 200px;
        margin: 0.5em;
        padding: 1em;
    }
}
@media screen and (max-width: 510px) {
    .flexCont {
        display: block;
        width: 100%;
        text-align: center;
    }
    .flexItem {
        text-align: left;
        display: inline-block;
        width: 90%;
        box-sizing: border-box;
    }
}
