<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Checkin</servlet-name>
        <servlet-class>Servlets.Staff.Checkin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Housekeeping</servlet-name>
        <servlet-class>Servlets.Staff.Housekeeping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reports</servlet-name>
        <servlet-class>Servlets.Staff.Reports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Billing</servlet-name>
        <servlet-class>Servlets.Staff.Billing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingRoom</servlet-name>
        <servlet-class>Servlets.Staff.BookingRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkin</servlet-name>
        <url-pattern>/Staff/Checkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Housekeeping</servlet-name>
        <url-pattern>/Staff/Housekeeping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reports</servlet-name>
        <url-pattern>/Staff/Reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Billing</servlet-name>
        <url-pattern>/Staff/Billing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingRoom</servlet-name>
        <url-pattern>/BookingRoom</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
