div.container {
    width: 100%;
    border: 1px solid gray;
}
fieldset{
    margin:auto;
}
h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: left;
    padding-left: 30px;
    margin: auto;
}

h2 {
    font-family: arial;
    font-size: relative;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

em {
    background-color: #808080;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}

p {
    background-color: #96B4CA;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 1ex;
}
a {
    background-color: #808080;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}

ul {
    border:3px solid #555;
}

li {
    text-align: center;
    border-bottom: 2px solid #555;
}

li:last-child {
    border-bottom: none;
}

form {
    padding-left: 30px
}

img {
    
   max-width: 100%;
   height: auto; 
}

#body{
  padding: 10px;
  padding-bottom: 60px;
}

body {
  background-color: #7395AE;
  font-family: Calibri;
  margin: 0;
  height: 100%
}
header, footer{
  background-color: #5D5C61;
}

#container {
    min-height: 100%;
    position: relative;
    
}
#header {
    padding: 10px
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
}

.link-spacing {
    padding: 1ex;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}