/* STRUCTURAL ELEMENTS */
body {
    background-color: lightsteelblue;
    font-family: Calibri;
    margin: 0;
    background-image: url("images/clean-textile.png");
    min-height: 100%;
}
html {
    height: 100%;
}
header, footer {
    color: black;
    text-align: center;
    background-image: none;
    width: 100%;
    background-color: lightsteelblue;
}
footer {
    height: auto;
    width: 100%;
    margin-top: 1em;
}

div.bg-container {
    width: 100%;
    min-height: 100%;
}

div.main-content {
    min-height: 100%;
    max-width: 1600px;
    margin: auto;
}

div.content {
    /* A called out paragraph of text */
    background-color: #e7f0f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    border-radius: 1ex;
    padding: 1ex;
    margin-top: 1em;
    margin-left: 1ex;
    margin-right: 1ex;
    overflow: auto;
}

/* HEADER STYLES */
h1, h2, h3, h4, h5, h6 {
    font-family: "Brush Script MT", cursive;
    text-align: left;
    margin-left: 0.3em;
    padding: 0;
    margin-bottom: 0;
}
h1 {
    font-size: 60px;
    margin-top: 0;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}
h2.staff, h3.staff, h4.staff, h5.staff, h6.staff {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "Bookman Old Style", serif;
    font-weight: normal;
    letter-spacing: .4ex;
    border-bottom: thin solid lightslategray;
}
h7 {
    font-size: 25px;
    margin-top: 0;
}

/* SLIDESHOW STYLES */
div.slideshow {
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    margin-top: 0;
}
img.slide {
    position: relative;
    max-width: 100%;
    width: 100%;
    transform: translateY(-50%);
    height: auto;
}
button.slide-button {
    width: 50%;
    padding: 0.5em;
    float:left;
}

/*FORMS*/
fieldset {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    border-radius: 1ex;
    border: none;
    padding: 2ex;
    margin-top: 1em;
    margin-left: 1ex;
    margin-right: 1ex;
}
legend {
    background-color: #63768D;
    color: #e7f0f4;
    min-width: 20ex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1ex;
    border: none;
    padding: 1ex;
    margin-left: 1ex;
}

/* INPUT ELEMENTS */
input, select, .interactive {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin solid lightslategray;
    background-color: #eaf1f9;
    font-family: Calibri;
    font-size: medium;
    padding: 0.5ex;
}
/* HIDE NUMBER SPINNERS */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input, select{
    width: 100%;
}
input:focus, select:focus, .interactive:focus {
    border: thin solid lightslategray;
    background-color: #b9d6f7;
    font-style: italic;
    outline: none;
}
input:hover, select:hover, .interactive:hover {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: #b9d6f7;
}
textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin solid lightslategray;
    background-color: #eaf1f9;
    font-family: Calibri;
    font-size: medium;
    padding: 0.5ex;
    width: 100%;
}
textarea:focus {
    border: thin solid lightslategray;
    background-color: #b9d6f7;
    outline: none;
}
/* SPACING FOR FORMS */
.form-spacing {
    margin-bottom: 2ex;
}
.form-spacing-small {
    margin-bottom: 1ex;
}
.form-align-bottom {
    position: absolute;
    bottom: 0;
}
div.form-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 190px;
    margin: 0.5em;
    padding: 1em;
    position: relative;
}
div.form-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* BUTTONS */
button {
    font-family: Calibri;
    font-size: medium;
    padding: 1em;
    width: 100%;
    background-color: #eaf1f9;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border: thin solid #eaf1f9;
}
button:hover {
    background-color: #b9d6f7;
    border: thin solid #b9d6f7;
}
button.button-narrow {
    padding: 0.5ex !important; 
}
/*FORM IMAGES*/
img.room-thumb {
    display: block;
    width: 100%;
    min-height: 135px;
}
img.float-left {
    margin: 1ex;
    float: left;
    max-width: 40%;
}
img.float-right {
    margin: 1ex;
    float: right;
    max-width: 40%;
}
#infopic{
    padding-right: 15px;
}
/* FEEDBACK MESSAGE STYLES */
.message-confirm {
    background-color: palegreen !important;
}
.message-error {
    background-color: lightpink !important;
}
.message-relocate {
    display: none;
}

/*NAVIGATION*/
ul.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #eaf1f9;
}
ul.nav li {
    list-style-type: none;
    float: left;
}
ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1ex;
    text-decoration: none;
    padding-left: 1ex;
    padding-right: 1ex;
}
ul.nav li a:hover {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: #b9d6f7;
}

/*GENERAL STYLES*/
.dropshadow-bottom {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
.content-bg {
    /* Use to apply content section background color to elements */
   background-color: #e7f0f4;
}
.main-container {
    height: 100%;
}
.text-large {
    /*used for price*/
    font-size: xx-large;
    font-weight: bold;
}
.billing-card-title {
    font-family: "Bookman Old Style", serif;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: .4ex;
    margin-bottom: 0.7ex;
}
.billing-card-subtitle {
    font-family: "Bookman Old Style", serif;
    font-size: large;
    font-weight: normal;
    letter-spacing: 0.1ex;
    margin-top: 0;
    margin-bottom: 0.7ex;
}
.col-full {
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
}
.clearfix {
    overflow: auto;
}

a.no-decoration {
    text-decoration: none;
    color: black;
}

/* CLASSES TO MAKE REPORT TABLES */
div.table {
    display: table;
    width: 100%;
    margin-right: 1ex;
    border-spacing: 0.5ex;
}
div.table-total {
    
}
div.table-details {
    
}
div.width-50 {
    width: 50%;
}
div.width-15 {
    width: 15%;
}
div.width-20 {
    width: 20%;
}
div.width-10 {
    width: 10%;
}
div.width-35 {
    width: 35%;
}
div.width-25 {
    width: 25%;
}
div.head-cell {
    display: table-cell;
    background-color: #63768D;
    padding: 1ex;
    color: white;
    font-weight: bold;
}
div.table-head {
    display: table-header-group;
}
div.table-row {
    display: table-row;
}
form.table-row {
    display: table-row;
}
div.table-cell {
    display: table-cell;
    padding: 0.5ex;
    background: white;
}
div.head-cell-blank {
    max-width: 25%;
}
div.sub-table {
    display: table-row-group;
    margin-left: 2ex;
}
/* COLLAPSING TABLE STYLES */
/* USED FOR HEADINGS IN BILLING */
div.table-collapse {
    display: table;
    width: 100%;    
}
div.table-row-collapse {
    display: table-row;
}
div.table-cell-collapse {
    display: table-cell;
    vertical-align: bottom;
}
div.table-50pc-collapse {
    width: 50%;
}
div.table-cell-align-right {
    text-align: right;
}

/* CARD STYLES */
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    margin: auto;
    margin: 0.5em;
    padding: 1em;
    display: block;
    min-width: 500px;
}
div.card-nowidth {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1ex;
}

/* EMPTY STATE STYLES */
div.empty {
    background-image: url("Staff/img/envelope.png");
    background-size: 100% 100%;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    position: relative;
}
div.empty div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: large;
}
div.empty-hide {
    display: none;
}

/* PAYMENT SPECIFIC STYLES */
div.payment-details {
    /*hidden by default*/
    display: none;
    clear: both;
}
span.payment-expand {
    border: none;
    float: right;
}
span.payment-expand-text {
    float: left;
}

/*RESPONSIVE ELEMENTS*/
@media screen and (max-width: 768px) {
    /*Tablet*/
    div.slideshow {
        max-height: 150px;
    }
}
@media screen and (min-width: 810px) {
    h1 {
        font-size: 70px;
    }
    .main-container {
        clear: both;
        display: table;
        width: 100%;
    }

    .col-minwidth {
        display: table-cell;
        width: auto;
        vertical-align: top;
    }
    .col-half {
        display: table-cell;
        width: 50%;
        padding-left: 2em;
        vertical-align: top;
    }
    .col-full {
        display: table-cell;
        width: 100%;
        padding-left: 2em;
        vertical-align: top;
    }
    .flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flexItem {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        width: 200px;
        margin: 0.5em;
        padding: 1em;
    }
    .flexItemLarge {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        width: 500px;
        margin: 0.5em;
        padding: 1em;
    }
    div.empty {
        width: 200px;
    }
}
@media screen and (max-width: 809px) {
    .main-container {
        clear: both;
        display: block;
        width: 100%;
    }

    .col-minwidth {
        display: block;
    }
    .center-flex {
        justify-content: center;
    }
    .col-half {
        display: block;
    }
    .col-full {
        display: block;
    }
    .flexCont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flexItem {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        width: 200px;
        margin: 0.5em;
        padding: 1em;
    }
    .flexItemLarge {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        width: 500px;
        margin: 0.5em;
        padding: 1em;
    }
    div.empty {
        width: 200px;
    }
}
@media screen and (max-width: 510px) {
    /*Medium phones*/
    #infopic
    {
        display:none;
    }
    h1 {
        font-size: 30px;
    }
    div.container {
        width: 100%;
    }
    div.slideshow {
        height: 100px;
    }
    div.form-card {
        display: block;
        width: 100%;
    }
    .flexCont {
        display: block;
        width: 100%;
        text-align: center;
    }
    .flexItem {
        text-align: left;
        display: inline-block;
        width: 90%;
        box-sizing: border-box;
    }
    .flexItemLarge {
        text-align: left;
        display: inline-block;
        width: 90%;
        box-sizing: border-box;
    }
    div.empty {
        display: block;
        text-align: center;
        position: relative;
        margin: auto;
    }
    div.empty div {
        display: block;
        top: 100px;
    }
    div.table-collapse {
        display: block;
        width: 100%;    
    }
    div.table-row-collapse {
        display: block;
    }
    div.table-cell-collapse {
        display: block
    }
    div.table-50pc-collapse {
        width: 100%
    }
    div.table-cell-align-right {
        text-align: left;
    }
}
@media screen and (max-width: 375px) {
    /*Very small phones*/
    ul.nav li {
        display: block;
        float: none;
    }
    div.slideshow {
        height: 100px;
    }
}