div.container {
    max-width: 1600px;
    min-height: 100%;
}

div.bg-container {
    width: 100%;
    min-height: 100%;
}

div.main-content {
    min-height: 100%;
    padding: 1em;
}

div.content {
    background-color: #96B4CA;
    display: block;
    border-radius: 1ex;
    padding: 1ex;
    margin-top: 1em;
}

body {
    background-color: lightsteelblue;
    font-family: Calibri;
    margin: 0;
    background-image: url("images/clean-textile.png");
    min-height: 100%;
}

html {
    height: 100%;
}

fieldset{
    margin:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Brush Script MT", cursive;
    text-align: left;
    margin-left: 0.5em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}


header, footer {
    color: black;
    text-align: center;
    background-image: none;
    background-color: lightsteelblue;
}

footer {
    height: 4em;
    width: 100%;
}
article {
    flex: 1;
}

div.slideshow {
    display: block;
    padding: 1ex;
    margin-top: 1em;
}
img.slide {
    width: 400px;
}

form {
}

img {
   max-width: 100%;
   height: auto; 
}

.link-spacing {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}
/*Styles for navigation elements*/
ul.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #eaf1f9;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
ul.nav li {
    list-style-type: none;
    float: left;
}
ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1ex;
    text-decoration: none;
}
ul.nav li a:hover {
    background-color: #b9d6f7;
}

/*Mobile responsive title*/
@media screen and (max-width: 510px) {
    h1 {
        font-size: 30px;
    }
    div.container {
        width: 100%;
    }
}